
.icon-phone-icon:before { content: '\e803'; } /* '' */
.icon-icons8-instagram:before { content: '\e806'; } /* '' */
.icon-icons8-github:before { content: '\e807'; } /* '' */
.icon-icons8-linkedin:before { content: '\e808'; } /* '' */
